* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html,
body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

#startelem {
    height: 100vh;
}

.app-container {
    height: 100vh;
    opacity: 100%;
}

.strapline,
.counter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    border: #23967f 5px solid;
    border-radius: 30px;
    margin: 1vh 1vh 0 1vh;
    padding: 1vh;
}

.logo,
.name {
    height: 100%;
}

.logo {
    width: 25vw;
}

.name {
    color: #4e0828;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vw;
    text-align: center;
    width: 70%;
}

.counter-container {
    min-height: 75vh;
}

.row-number,
.stitch-number {
    border: #23967f 2px solid;
    border-radius: 30px;
}
