* {
    margin: 0;
    padding: 0;
}

.app-container {
    color: #4e0828;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.strapline,
.counter-container {
    align-items: center;
    border: #086788 5px solid;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.counter-container {
    flex-flow: column nowrap;
    height: auto;
    margin-top: 1%;
}

img.logo {
    height: 100%;
    object-fit: cover;
    width: 30%;
}

.name {
    align-items: center;
    color: #086788;
    display: flex;
    font-size: 13vw;
    height: 100%;
    justify-content: center;
    max-height: 150px;
    text-align: center;
    width: 70%;
}

.title,
.reset {
    font-weight: bold;
    overflow: visible;
    width: 90%;
    text-align: center;
    font-size: 5vw;
}

button {
    background-color: transparent;
    border: none;
    color: #086788;
    font-family: inherit;
    font-size: 3rem;
    padding: 0 2%;
}

.click-container {
    align-items: center;
    background-color: #eaf9d9;
    border: #23967f 2px solid;
    border-radius: 30px;
    display: flex;
    flex-flow: column nowrap;
    font-size: 5vw;
    height: auto;
    margin: 0.5% 0;
    min-height: 30%;
    justify-content: space-between;
    padding: 1%;
    position: relative;
    width: 90%;
}

.counter,
.settings {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin: 1% 0;
}

.number,
.box {
    background-color: white;
    border: #23967f 2px solid;
    border-radius: 30px;
    color: inherit;

    display: flex;
    flex-direction: column;
    font-size: 3rem;
    justify-content: center;
    margin: 0 1%;
    padding: 1%;
    text-align: center;
    width: 30%;
}

.st-text {
    flex-grow: 2;
    font-size: 1rem;
    padding-right: 2%;
    text-align: right;
}

.submit,
#increment {
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25%;
}

.plus,
.minus {
    align-items: center;
    display: flex;
    justify-content: center;
}

.plus {
    color: #23967f;
}

.minus {
    color: #ff6f59;
}

@media screen and (min-width: 760px) {
    .st-text,
    .submit,
    #increment {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 950px) {
    .app-container {
        justify-content: stretch;
    }

    .strapline {
        height: 18vh;
    }

    .counter-container {
        flex-direction: row;
        min-height: 75vh;
        align-items: stretch;
    }

    img.logo {
        object-fit: contain;
    }

    .name {
        font-size: 10vw;
    }

    .click-container {
        min-height: 100%;
        margin: 0.5%;
    }

    .counter {
        flex-direction: row;
        flex-grow: 2;
    }

    .settings {
        margin-top: 5%;
    }

    .box.reset {
        width: auto;
    }
}
