* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html,
body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

#startelem {
    height: 100vh;
}

.app-container {
    height: 100vh;
}

.strapline,
.counter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    border: #23967f 5px solid;
    border-radius: 30px;
    margin: 1vh 1vh 0 1vh;
    padding: 1vh;
}

img {
    max-width: 100%;
    height: auto;
}

.logo,
.name {
    height: 100%;
}

.name {
    color: #4e0828;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vw;
    max-height: 150px;
    text-align: center;
    width: 70%;
}

.counter-container {
    color: #086788;
    min-height: 75vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: bold;
}

.click-container {
    background-color: #eaf9d9;
    border: #23967f 2px solid;
    border-radius: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 40%;
    padding: 2%;
    margin-top: 2%;
    font-size: 5vw;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 5vw;
}

.counter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    text-align: center;
}

.number,
button {
    border: #23967f 2px solid;
    border-radius: 30px;
    padding: 1%;
    text-align: center;
    color: inherit;
    background-color: white;
}

button {
    height: 100%;
    width: 100%;
    font-size: 3rem;
}

.stitch-minus,
.number,
.stitch-plus,
.row-minus,
.row-plus {
    width: 30%;
}
